body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('img/Backgrounds7.jpg');
    background-size: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    /*background-color: #006699;
    border-color: #0099cc;*/
    
    background-image: url('img/footer_lodyas.png');
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbbbbb;
    /*color: #bbbbbb;*/
}

.navbar-inverse .navbar-brand {
    color: #dddddd;
    /*color: #cccccc;*/
}

/* by Pablito -------------------------------------------------------------------------*/
#map_canvas {
    height: 380px;
}

.noCol {
    width: 5%;
}

.mapCol {
    width: 30%;
}

.noteCol {
    width: 50%;
}

.dateCol {
    width: 10%;
}
.ptsCol, .nameCol {
    width: 10%;
}

.editCol {
    width: 5%;
}

.descriptionCol {
    width: 34%;
    color: #8a8989;
}

.myBtn {
    width: 100%;
}

.myBigBtn {
    width: 100%;
    opacity: .5;
    border-color: #4cae4c;
    margin: 7px;
}

.myBigBtn:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
    opacity: 1;
    width: 100%;
    
}

.panel {
    padding: 0;
}
.panel-body {
    padding: 0 14px;

}
/*.panel-heading {
    padding: 0;
}
.panel-footer {
    padding: 0;
}*/